---
import SocialIcons from "../Icons/SocialIcons.astro";
import Links from "./Links.astro";
---

<nav>
  <Links />
  <SocialIcons />
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-dark);
  }
</style>
