<div class="contactBlock__container">
  <h6 class="text-uppercase borders-gold">Contact</h6>
  <h4>Business Address</h4>
  <p>Catevika Web Dev</p>
  <p>128 rue de la Boétie</p>
  <p>75008 PARIS</p>
  <p><span class="active">catevikawebdev.com</span></p>
</div>

<style>
  .contactBlock__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>
