<div class="hoursBlock__container">
  <h6 class="text-uppercase borders-gold">Working Hours</h6>
  <h4>Catevika Web Dev</h4>
  <p>
    From<span class="active"> Monday</span> to <span class="active">Friday</span
    >
  </p>
  <p>
    <span class="active">9:00AM</span> to <span class="active">6:00PM</span>
  </p>
  <p>CET <span class="active">Nov. - March: UTC + 1</span> or</p>
  <p>CEST <span class="active">April - Oct.: UTC + 2</span></p>
</div>

<style>
  .hoursBlock__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
</style>
